includes:
    - vendor/pestphp/pest/phpstan-baseline.neon
    - phpstan-baseline.neon

parameters:
    level: 6
    paths:
        - src

    excludePaths:
        - src/OtelTracer.php

    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false

    typeAliases:
        TraceId: string
        SpanId: string

    ignoreErrors:
        - '#Unsafe usage of new static#'
        - '#implements unknown interface OpenTelemetry#'
        - "#has .*Override.* attribute but does not override#"

    universalObjectCratesClasses:
        - stdClass
